.popup {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.326);
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    position:relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    height: 500px;
    background-color: white;
}

.popup-inner .close-btn {
    position: absolute;
    top: 11px;
    right: 11px;
    background-color: blue;
    color:white;
    height:30px;
    width: 30px;
    border-radius: 5px;
    transition: 0.4s;
}
.popup-inner .close-btn:hover {
    background-color: rgb(1, 1, 191);
}


/* ---------------------------------------------------------------------------------- */

.img-grid-cont{
    overflow:scroll;
    height:85%;
    border: 1px solid red;
}

.image-modal-grid{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}
.image-modal-item{
    max-width: 170px;
    max-height: 170px;
   
}
.image-modal-sample-image{
    object-fit: cover;
    max-width: 170px;
    max-height: 170px;   
    aspect-ratio: 1/1; 
}
.image-select-checkbox { 
    display:flex;
}