.displayArea {
    /* margin:0 auto; */
    margin: 50px;
    margin-left: 5%;
    width: 60vw;
    height: 75vh;
    position: relative;
    background-color: #fcf9d2;
    justify-self:flex-start;
  }
  
  /* .displayArea img {
    max-height: 100%; */
    /* overflow: hidden;
    position: absolute;
    margin: auto;
    max-height: 24%;
    max-width: 50%; */
    /* cursor:grab; 
  } */

  
  div.mb-image {
    overflow: hidden;
    position: absolute;
    margin: auto;
    max-height: 24%;
    max-width: 50%;
    cursor:grab;
  }
  
  p {
    cursor:grab; 
  }
  
  .selected-image {
    border: 5px solid blue;
  }
  .selected-text{
    border: 1px solid green;
  }